@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Great+Vibes&display=swap');
body {
  font-family: 'Cairo', sans-serif;
}
.font-serif-display {
  font-family: 'Playfair Display', serif;
}
.font-signature {
  font-family: 'Great Vibes', cursive;
}